<footer>
    <div class="about">
        <img class="logo" src="/assets/logo.svg">
        <p>Systemizer is tool for designing complex distriuted systems, allowing you to simulate data flow with customizable components.</p>
    </div>
    <div class="links">
        <div>
            <h4>Help</h4>
            <ul>
                <li><a routerLink="getting-started">Getting started</a></li>
                <li><a routerLink="create" [queryParams]="{'showOnboardTutorial': true}">Onboard tutorials</a></li>
            </ul>
        </div>
        <div>
            <h4>Contact</h4>
            <ul>
                <li class="link-icon"><i class="fas fa-envelope"></i>janpane019@pslib.cz</li>
            </ul>
        </div>
        <div class="links-other">
            <a target="_blank" href="https://github.com/honzaap/Systemizer"><i class="fab fa-github"></i> Contribute</a>
        </div>
    </div>
</footer>