svg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    &.read-only *{
        pointer-events: none !important;
    }
    & path.main{
        fill: transparent;
        stroke: var(--orange-light);
        stroke-width: 2;
        stroke-linecap: round;
        stroke-dasharray: 3;
        pointer-events: none;
        &.is-current-selection{
            stroke: #ccc91c;
        }
    }
    & path.interactive{
        cursor: pointer;
        pointer-events: stroke;
        stroke: transparent;
        fill: transparent;
        stroke-width: 14;
    }
    & .break{
        cursor: pointer;
        fill: var(--main-dark);
        pointer-events: all;
        &.is-current-selection{
            display: block !important;
            fill: var(--main-light);
            filter: brightness(1.25);
        }
    }
    & .break-available{
        cursor: pointer;
        fill: var(--text-main-light);
        stroke-width: 2;
        stroke: var(--bg-main-light);
        pointer-events: all;
    }
    & .line-breaks-container{
        & circle{
            display: none;
        }
        &:hover, &.active{
            & circle{
                display: block;
            }
        }
    }
}