/* width */
::-webkit-scrollbar {
    width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.6);
    border-radius: 5px;
}