<div
#anchorRef
class="anchor component"
[style.left.px]="LogicApiGateway.options.X "
[style.top.px]="LogicApiGateway.options.Y"
>
    <template #conn></template>
    <div class="img-container"(mousedown)="handleMousedown( $event )"
    (click)="handleClick()">
        <img src="./assets/apigateway.svg">
    </div>
</div>
<div style="display:none">
    <div #options>
        <!-- REST ENDPOINTS -->
        <div class="options-endpoints-container">
            <div class="options-endpoints-top">
                <span class="property-name">Endpoints (REST): <info-tooltip [Message]="'List of REST endpoints the gateway has available. Click the dropdown to show allowed methods and actions.'"></info-tooltip></span>
                <div>
                    <span>[{{LogicApiGateway.options.restEndpoints.length}}]</span>
                    <span class="button-icon" (click)="addRestEndpoint()"><i class="fas fa-plus"></i></span>
                </div>
            </div>
            <div class="options-endpoints">
                <div class="options-endpoint" *ngFor="let endpoint of LogicApiGateway.options.restEndpoints">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <input (blur)="handleEndpointUrlChange(endpoint)" class="endpoint-url" type="text" spellcheck="false" [(ngModel)]="endpoint.url" placeholder="url">
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="options-endpoint-menu-top">
                            <mat-form-field class="endpoint-method" appearance="fill">
                                <mat-select (closed)="handleEndpointMethodChange(endpoint)" [(ngModel)]="endpoint.supportedMethods" multiple required>
                                    <mat-option *ngFor="let method of HTTPMethodKeys" [value]="method">{{ HTTPMethod[method] }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="options-endpoint-actions-container">
                            <div class="options-endpoint-action">
                                <span class="property-name action-endpoint">Actions: <info-tooltip [Message]="'List of actions of the endpoint. Change the target endpoint and method used.'"></info-tooltip></span>
                                <span class="action-method"></span>
                                <span class="button-icon" (click)="addAction(endpoint)"><i class="fas fa-plus"></i></span>
                            </div>
                            <div class="options-endpoint-actions">
                                <div class="options-endpoint-action" *ngFor="let action of endpoint.actions">
                                    <mat-form-field appearance="fill" class="action-endpoint">
                                        <mat-select (selectionChange)="handleActionEndpointChange(endpoint, action)" [(ngModel)]="action.endpoint">
                                          <mat-option [disabled]="endpoint.protocol == Protocol.WebSockets || endpoint.grpcMode == gRPCMode['Server Streaming'] || endpoint.grpcMode == gRPCMode['Bidirectional Streaming']" *ngFor="let endpoint of connectableEndpoints" [value]="endpoint">{{endpoint.url}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field *ngIf="!isMQEndpoint(action.endpoint);" appearance="fill" class="action-method">
                                        <mat-select [(ngModel)]="action.method" *ngIf="action.endpoint != null; else emptyMethod">
                                            <mat-option *ngIf="action.endpoint.protocol != Protocol.WebSockets && endpoint.protocol != Protocol.WebSockets" [value]="EndpointActionHTTPMethod.Inherit">Inherit</mat-option>
                                            <mat-option *ngFor="let method of action.endpoint.supportedMethods" [value]="EndpointActionHTTPMethod[HTTPMethod[method]]">{{ formatMethod(HTTPMethod[method+''], action.endpoint.protocol == Protocol.Database) }}</mat-option>
                                        </mat-select>
                                        <ng-template #emptyMethod>
                                            <mat-select disabled>
                                                <mat-option></mat-option>
                                            </mat-select>
                                        </ng-template>
                                    </mat-form-field>
                                    <span class="button-icon" (click)="removeAction(endpoint, action)"><i class="fas fa-minus"></i></span>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <span class="button-icon remove-endpoint" (click)="removeRestEndpoint(endpoint)"><i class="fas fa-minus"></i></span>
                </div>
            </div>
        </div>
        <!-- REST ENDPOINTS -->

        <!-- RPC ENDPOINTS -->
        <div class="options-endpoints-container">
            <div class="options-endpoints-top">
                <span class="property-name">Endpoints (RPC): <info-tooltip [Message]="'List of RPC endpoints the gateway has available. Click the dropdown to show allowed methods and actions.'"></info-tooltip></span>
                <div>
                    <span>[{{LogicApiGateway.options.rpcEndpoints.length}}]</span>
                    <span class="button-icon" (click)="addRpcEndpoint()"><i class="fas fa-plus"></i></span>
                </div>
            </div>
            <div class="options-endpoints">
                <div class="options-endpoint" *ngFor="let endpoint of LogicApiGateway.options.rpcEndpoints">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <input (blur)="handleEndpointUrlChange(endpoint)" class="endpoint-url" type="text" spellcheck="false" [(ngModel)]="endpoint.url" placeholder="url">
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="options-endpoint-menu-top">
                            <mat-form-field class="endpoint-method" appearance="fill">
                                <mat-select (closed)="handleEndpointMethodChange(endpoint)" [(ngModel)]="endpoint.supportedMethods[0]" required>
                                    <mat-option [value]="HTTPMethod.GET">GET</mat-option>
                                    <mat-option [value]="HTTPMethod.POST">POST</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="options-endpoint-actions-container">
                            <div class="options-endpoint-action">
                                <span class="property-name action-endpoint">Actions: <info-tooltip [Message]="'List of actions of the endpoint. Change the target endpoint and method used.'"></info-tooltip></span>
                                <span class="action-method"></span>
                                <span class="button-icon" (click)="addAction(endpoint)"><i class="fas fa-plus"></i></span>
                            </div>
                            <div class="options-endpoint-actions">
                                <div class="options-endpoint-action" *ngFor="let action of endpoint.actions">
                                    <mat-form-field appearance="fill" class="action-endpoint">
                                        <mat-select (selectionChange)="handleActionEndpointChange(endpoint, action)" [(ngModel)]="action.endpoint">
                                          <mat-option [disabled]="endpoint.protocol == Protocol.WebSockets || endpoint.grpcMode == gRPCMode['Server Streaming'] || endpoint.grpcMode == gRPCMode['Bidirectional Streaming']" *ngFor="let endpoint of connectableEndpoints" [value]="endpoint">{{endpoint.url}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field *ngIf="!isMQEndpoint(action.endpoint);" appearance="fill" class="action-method">
                                        <mat-select [(ngModel)]="action.method" *ngIf="action.endpoint != null; else emptyMethod">
                                            <mat-option *ngIf="action.endpoint.protocol != Protocol.WebSockets && endpoint.protocol != Protocol.WebSockets" [value]="EndpointActionHTTPMethod.Inherit">Inherit</mat-option>
                                            <mat-option *ngFor="let method of action.endpoint.supportedMethods" [value]="EndpointActionHTTPMethod[HTTPMethod[method]]">{{ formatMethod(HTTPMethod[method+''], action.endpoint.protocol == Protocol.Database) }}</mat-option>
                                        </mat-select>
                                        <ng-template #emptyMethod>
                                            <mat-select disabled>
                                                <mat-option></mat-option>
                                            </mat-select>
                                        </ng-template>
                                    </mat-form-field>
                                    <span class="button-icon" (click)="removeAction(endpoint, action)"><i class="fas fa-minus"></i></span>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <span class="button-icon remove-endpoint" (click)="removeRpcEndpoint(endpoint)"><i class="fas fa-minus"></i></span>
                </div>
            </div>
        </div>
        <!-- RPC ENDPOINTS -->


        <!-- gRPC ENDPOINTS -->
        <div class="options-endpoints-container">
            <div class="options-endpoints-top">
                <span class="property-name">Endpoints (gRPC): <info-tooltip [Message]="'List of gRPC endpoints the gateway has available. Click the dropdown to show allowed methods, gRPC mode and actions.'"></info-tooltip></span>
                <div>
                    <span>[{{LogicApiGateway.options.grpcEndpoints.length}}]</span>
                    <span class="button-icon" (click)="addGrpcEndpoint()"><i class="fas fa-plus"></i></span>
                </div>
            </div>
            <div class="options-endpoints">
                <div class="options-endpoint" *ngFor="let endpoint of LogicApiGateway.options.grpcEndpoints">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <input (blur)="handleEndpointUrlChange(endpoint)" class="endpoint-url" type="text" spellcheck="false" [(ngModel)]="endpoint.url" placeholder="url">
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="options-endpoint-menu-top">
                            <mat-form-field class="endpoint-method" appearance="fill">
                                <mat-select (closed)="handleEndpointMethodChange(endpoint)" [(ngModel)]="endpoint.supportedMethods[0]" required>
                                    <mat-option [value]="HTTPMethod.GET">GET</mat-option>
                                    <mat-option [value]="HTTPMethod.POST">POST</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="endpoint-grpcmode" appearance="fill">
                                <mat-select (selectionChange)="endpoint.actions = []" [(ngModel)]="endpoint.grpcMode" required>
                                    <mat-option *ngFor="let mode of gRPCModeKeys" [value]="mode">{{ gRPCMode[mode] }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="options-endpoint-actions-container">
                            <div class="options-endpoint-action">
                                <span class="property-name action-endpoint">Actions: <info-tooltip [Message]="'List of actions of the endpoint. Change the target endpoint and method used.'"></info-tooltip></span>
                                <span class="action-method"></span>
                                <span class="button-icon" (click)="addAction(endpoint)"><i class="fas fa-plus"></i></span>
                            </div>
                            <div class="options-endpoint-actions">
                                <div class="options-endpoint-action" *ngFor="let action of endpoint.actions">
                                    <mat-form-field appearance="fill" class="action-endpoint">
                                        <mat-select (selectionChange)="handleActionEndpointChange(endpoint, action)" [(ngModel)]="action.endpoint">
                                          <mat-option [disabled]="(isMQEndpoint(connendpoint) && endpoint.grpcMode == gRPCMode['Server Streaming']) || ((endpoint.grpcMode == gRPCMode.Unary || endpoint.grpcMode == gRPCMode['Client Streaming']) && (connendpoint.protocol == Protocol.WebSockets || connendpoint.grpcMode == gRPCMode['Server Streaming'] || connendpoint.grpcMode == gRPCMode['Bidirectional Streaming'])) || (endpoint.grpcMode == gRPCMode['Server Streaming'] && connendpoint.grpcMode == gRPCMode['Client Streaming'])" *ngFor="let connendpoint of connectableEndpoints" [value]="connendpoint">{{connendpoint.url}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field *ngIf="!isMQEndpoint(action.endpoint);" appearance="fill" class="action-method">
                                        <mat-select [(ngModel)]="action.method" *ngIf="action.endpoint != null; else emptyMethod">
                                            <mat-option *ngIf="action.endpoint.protocol != Protocol.WebSockets && endpoint.protocol != Protocol.WebSockets" [value]="EndpointActionHTTPMethod.Inherit">Inherit</mat-option>
                                            <mat-option *ngFor="let method of action.endpoint.supportedMethods" [value]="EndpointActionHTTPMethod[HTTPMethod[method]]">{{ formatMethod(HTTPMethod[method+''], action.endpoint.protocol == Protocol.Database) }}</mat-option>
                                        </mat-select>
                                        <ng-template #emptyMethod>
                                            <mat-select disabled>
                                                <mat-option></mat-option>
                                            </mat-select>
                                        </ng-template>
                                    </mat-form-field>
                                    <span class="button-icon" (click)="removeAction(endpoint, action)"><i class="fas fa-minus"></i></span>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <span class="button-icon remove-endpoint" (click)="removeGrpcEndpoint(endpoint)"><i class="fas fa-minus"></i></span>
                </div>
            </div>
        </div>
        <!-- gRPC ENDPOINTS -->


        <!-- GraphQL ENDPOINTS -->
        <div class="options-endpoints-container">
            <div class="options-endpoints-top">
                <span class="property-name">Endpoints (GraphQL): <info-tooltip [Message]="'A GraphQL endpoint. Click the dropdown to show allowed methods and actions.'"></info-tooltip></span>
                <div>
                    <span>[{{LogicApiGateway.options.graphqlEndpoints.length}}]</span>
                    <span *ngIf="LogicApiGateway.options.type != APIType.GraphQL && LogicApiGateway.options.graphqlEndpoints.length == 0" class="button-icon" (click)="addGraphqlEndpoint()"><i class="fas fa-plus"></i></span>
                </div>
            </div>
            <div class="options-endpoints">
                <div class="options-endpoint" *ngFor="let endpoint of LogicApiGateway.options.graphqlEndpoints">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <input (blur)="handleEndpointUrlChange(endpoint)" class="endpoint-url" type="text" spellcheck="false" [(ngModel)]="endpoint.url" placeholder="url">
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="options-endpoint-menu-top">
                            <mat-form-field class="endpoint-method" appearance="fill">
                                <mat-select (closed)="handleEndpointMethodChange(endpoint)" [(ngModel)]="endpoint.supportedMethods" multiple required>
                                    <mat-option [value]="HTTPMethod.GET">GET</mat-option>
                                    <mat-option [value]="HTTPMethod.POST">POST</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="options-endpoint-actions-container">
                            <div class="options-endpoint-action">
                                <span class="property-name action-endpoint">Actions: <info-tooltip [Message]="'List of actions of the endpoint. Change the target endpoint and method used.'"></info-tooltip></span>
                                <span class="action-method"></span>
                                <span class="button-icon" (click)="addAction(endpoint)"><i class="fas fa-plus"></i></span>
                            </div>
                            <div class="options-endpoint-actions">
                                <div class="options-endpoint-action" *ngFor="let action of endpoint.actions">
                                    <mat-form-field appearance="fill" class="action-endpoint">
                                        <mat-select (selectionChange)="handleActionEndpointChange(endpoint, action)" [(ngModel)]="action.endpoint">
                                          <mat-option [disabled]="isMQEndpoint(endpoint) || endpoint.protocol == Protocol.WebSockets || endpoint.grpcMode == gRPCMode['Server Streaming'] || endpoint.grpcMode == gRPCMode['Bidirectional Streaming']" *ngFor="let endpoint of connectableEndpoints" [value]="endpoint">{{endpoint.url}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="action-method">
                                        <mat-select [(ngModel)]="action.method" *ngIf="action.endpoint != null; else emptyMethod">
                                            <mat-option *ngIf="action.endpoint.protocol != Protocol.WebSockets && endpoint.protocol != Protocol.WebSockets" [value]="EndpointActionHTTPMethod.Inherit">Inherit</mat-option>
                                            <mat-option *ngFor="let method of action.endpoint.supportedMethods" [value]="EndpointActionHTTPMethod[HTTPMethod[method]]">{{ formatMethod(HTTPMethod[method+''], action.endpoint.protocol == Protocol.Database) }}</mat-option>
                                        </mat-select>
                                        <ng-template #emptyMethod>
                                            <mat-select disabled>
                                                <mat-option></mat-option>
                                            </mat-select>
                                        </ng-template>
                                    </mat-form-field>
                                    <span class="button-icon" (click)="removeAction(endpoint, action)"><i class="fas fa-minus"></i></span>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <span *ngIf="LogicApiGateway.options.type != APIType.GraphQL" class="button-icon remove-endpoint" (click)="removeGraphqlEndpoint(endpoint)"><i class="fas fa-minus"></i></span>
                </div>
            </div>
        </div>
        <!-- GraphQL ENDPOINTS -->


        <!-- WebSockets ENDPOINTS -->
        <div class="options-endpoints-container">
            <div class="options-endpoints-top">
                <span class="property-name">Endpoints (WebSockets): <info-tooltip [Message]="'List of WebSocket endpoints used for bidirectional streaming. Click the dropdown to show allowed methods and actions.'"></info-tooltip></span>
                <div>
                    <span>[{{LogicApiGateway.options.websocketsEndpoints.length}}]</span>
                    <span class="button-icon" (click)="addWebsocketsEndpoint()"><i class="fas fa-plus"></i></span>
                </div>
            </div>
            <div class="options-endpoints">
                <div class="options-endpoint" *ngFor="let endpoint of LogicApiGateway.options.websocketsEndpoints">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <input (blur)="handleEndpointUrlChange(endpoint)" class="endpoint-url" type="text" spellcheck="false" [(ngModel)]="endpoint.url" placeholder="url">
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="options-endpoint-menu-top">
                            <mat-form-field class="endpoint-method" appearance="fill">
                                <mat-select (closed)="handleEndpointMethodChange(endpoint)" disabled [(ngModel)]="endpoint.supportedMethods[0]">
                                    <mat-option [value]="HTTPMethod.GET">GET</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="options-endpoint-actions-container">
                            <div class="options-endpoint-action">
                                <span class="property-name action-endpoint">Actions: <info-tooltip [Message]="'List of actions of the endpoint. Change the target endpoint and method used.'"></info-tooltip></span>
                                <span class="action-method"></span>
                                <span class="button-icon" (click)="addAction(endpoint)"><i class="fas fa-plus"></i></span>
                            </div>
                            <div class="options-endpoint-actions">
                                <div class="options-endpoint-action" *ngFor="let action of endpoint.actions">
                                    <mat-form-field appearance="fill" class="action-endpoint">
                                        <mat-select (selectionChange)="handleActionEndpointChange(endpoint, action)" [(ngModel)]="action.endpoint">
                                          <mat-option *ngFor="let endpoint of connectableEndpoints" [value]="endpoint">{{endpoint.url}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field *ngIf="!isMQEndpoint(action.endpoint);" appearance="fill" class="action-method">
                                        <mat-select [(ngModel)]="action.method" *ngIf="action.endpoint != null; else emptyMethod">
                                            <mat-option *ngIf="action.endpoint.protocol != Protocol.WebSockets && endpoint.protocol != Protocol.WebSockets" [value]="EndpointActionHTTPMethod.Inherit">Inherit</mat-option>
                                            <mat-option *ngFor="let method of action.endpoint.supportedMethods" [value]="EndpointActionHTTPMethod[HTTPMethod[method]]">{{ formatMethod(HTTPMethod[method+''], action.endpoint.protocol == Protocol.Database) }}</mat-option>
                                        </mat-select>
                                        <ng-template #emptyMethod>
                                            <mat-select disabled>
                                                <mat-option></mat-option>
                                            </mat-select>
                                        </ng-template>
                                    </mat-form-field>
                                    <span class="button-icon" (click)="removeAction(endpoint, action)"><i class="fas fa-minus"></i></span>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <span class="button-icon remove-endpoint" (click)="removeWebsocketsEndpoint(endpoint)"><i class="fas fa-minus"></i></span>
                </div>
            </div>
        </div>
        <!-- WebSockets ENDPOINTS -->
    </div>
</div>
