nav{
    z-index: 30;
    display:flex;
    flex-flow: row nowrap;
    align-items: stretch;
    background-color: var(--background-light);
    color: rgba(255,255,255,0.6);
    position: relative;
}
.nav{
    z-index: 100;
    & .navbar-name{
        background-color: transparent;
        padding: 0.1em 0.2em;
        border: none;
        outline: none;
        font-size: 1.2rem;
        width: 8em;
        color: var(--main);
    }
    & a, button{
        background-color: transparent;
        border: none;
        outline: none;    
        font-size: 1em;    
        color: var(--text);
        transition: color 0.1s linear;
        cursor: pointer;
    }
    & a:hover, button:hover{
        color: var(--main);
    }
    .file-form{
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }
}
.nav-second{
    font-size: 1.1rem;
    padding: 0.2em 0;
    box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.3);
    & .nav-list{
        gap:0.3em;
        color: var(--text);
        justify-content: flex-start;
    }
    & .v-line::before{
        content: "";
        height: 100%;
        margin-right: 0.3em;
        margin-left: 0.3em;
        border-left: 2px solid var(--text);
    }
    & select{
        background-color: transparent;
        color: inherit;
        outline: none;
        border: none;
    }
    & .icon{
        width: 1em;
        height: 1em;
        display: inline-block;
        transition: transform 0.1s linear, color 0.1s linear;
    }
    & .icon:hover{
        transform: scale(1.05);
        color: var(--main);
        cursor: pointer;
    }
}
input[type="file"] {
    display: none;
}      
.line{
    margin: 0 auto;
    width: 80%;
    background-color: var(--text);
    border-color: var(--text);
    opacity: 0.1;
}
.confirm-dialog-container{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .45);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;    
}
.confirm-dialog{
    min-width: 350px;
    max-width: 480px;
    padding: 1.5em 1em;
    text-align: center;
    background-color: var(--background-light);    
    color: var(--text);
    &.export{
        min-width: 550px;
        max-width: 700px;
    }
    & .title{
        font-size: 1.2em;
    }
    & button{
        padding: 0.3em 1.35em;
        outline: none;
        border: 0;
        border-radius: 0.2em;
        font-weight: 600;
        font-size: 0.9em;
        cursor: pointer;
        transition: background-color 0.15s ease-in-out;
        &.btn-cancel{
            border: 0.15em solid var(--text);
            color: var(--text);
            background-color: transparent;
            &:hover{
                color: var(--background-light);
                background-color: var(--text);
            }
        }
        &.btn-confirm{
            background-color: var(--main);
            color: #fff;
            border: 0.15em solid var(--main);
            &:hover{
                border-color: var(--main);
                color: var(--main);
                background-color: transparent;
            }
            &:disabled{
                filter: grayscale(1);
                cursor: not-allowed;
                &:hover{
                    background-color: var(--main);
                    border-color: var(--main);
                    color: #fff;
                }
            }
        }
        &.btn-preview{
            border: 0.15em solid var(--main);
            color: var(--main);
            filter: saturate(0.5);
            background-color: transparent;
            &:hover{
                color: #fff;
                background-color: var(--main);
            }
        }
    }
    & label{
        display: flex;
        margin: 0.4em 0;
        & input{
            width: auto;
            flex-basis: 50%;
        }
        & span{
            flex-grow: 1;
            text-align: right;
        }
    }
}
.buttons-bottom{
    margin-top: 1.5em;
    padding: 0.3em;
    display: flex;
    justify-content: center;
    gap: 1em;
}
.preview-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    z-index: 1400;
}
.preview{
    display: flex;
    justify-content: center;
    flex-basis: 80%;
    outline: 0.1em solid #c0c0c0;
    height: fit-content;
    background-color: var(--background);
}
.keyboard-shortcuts-window{
    color: var(--text);
    position: absolute;
    top: 15%;
    bottom: 30%;
    right: 25%;
    left: 25%;
    border: 0.2em solid var(--background);
    background-color: var(--background-light);
    box-shadow: 0px 0px 25px 2px rgba(#000, 0.2);
    padding: 2em;
    overflow-y: scroll;
    & .keyboard-shortcuts-title{
        margin-bottom: 1em;
        display: block;
        text-align: center;
        font-size: 1.15em;
    }
    & .highlight{
        color: var(--main);
        font-weight: 400;
    }
    & .close{
        outline: 0;
        border: 0;
        cursor: pointer;
        position: absolute;
        top: 0.25em;
        right: 0.25em;
        font-size: 1em;
        color: var(--text);
        background-color: transparent;
        width: 1.5em;
        height: 1.5em;
        transition: color 0.1s linear;
        &:hover{
            color: var(--main);
        }
    }
    & .shortcuts-list{
        display: flex;
        flex-flow: column;
        gap: 0.7em;
        align-items: center;
        & li{
            display: flex;
            justify-content: flex-end;
            width: 75%;
            gap: 1.5em;
            & p{
                flex-grow: 1;
                text-align: right;
            }
            & .highlight{
                text-align: left;
            }
        }
    }
    &::-webkit-scrollbar {
        width: 0;
    }
    
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: transparent
    }
}
.saving{
    font-size: 0.9em;
    color: var(--text);
    & .saving-inner{
        background-color: var(--background-light);
        padding: 2em 1em;
        gap: 1em;
        position: relative;
        & .name{
            display: flex;
            flex-flow: column nowrap;
            gap: 0.2em;
            input {
                background-color: rgba(0, 0, 0, 0.35);
                color: var(--text);
                padding: 0.3em 0.5em;
                border: 0;
                outline: none;
                border-bottom: 0.15em solid transparent;
                &:hover,&:focus{
                    border-color: var(--main);
                }
            }
        }
    }
}
.close{
    position: absolute;
    color: var(--text);
    top: 0.2em;
    right: 0.2em;
    border: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.1em;
    &:hover{
        color: var(--text);
    }
}
.backdrop-centralized{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.embed-inner{
    max-width: 640px;
    padding: 1.15em;
    & h5{
        font-size: 1.5rem;
    }
    & p{
        margin: 0.75em 0.2em;
        font-size: 0.75rem;
    }
    & textarea{
        width: 100%;
        height: 250px;
        resize: none;
        font-size: 0.7rem;
        font-family: 'Roboto';
        font-weight: 300;
        border: 0.2em solid var(--background);
        padding: 1em 0.5em;
        outline: none;
        color: var(--text);    
        background-color: var(--background-dark);
    }
    & .error{
        margin: 1.5em 0;
        color: #ec0000;
        font-weight: 600;
        font-size: 1em;
    }
}