@import "../../../../colors";

:host{
    position: relative;
}
.component{
    height: 80px;
}

mat-slider{
    width: 80%;
}
.read-only-controls{
    position: absolute;
    width: 40px;
    height: 80px;
    &:hover{
        & button{
            opacity: 1;
        }
    }
    & button{
        padding: 0.2em 0.6em;
        width: max-content;
        border: 0;
        transform: translate(-70px, 20px);
        opacity: 0;
        font-size: 10px;
        outline: none;
        cursor: pointer;
        background-color: $purple-dark;
        color: #fff;
        transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in;
        &:hover{
            background-color: $purple-darker;
        }
    }
}