@import "../../../colors.scss";

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.35em;
    font-size: 0.9rem;
    & .nav-title{
        color: $text-purple-light2;
        font-size: 1.5rem;
        font-weight: 600;
        height: 4.5em;
        display: flex;
        align-items: center;
        gap: 0.5em;
        & img{
            height: 100%;
        }
    }

}

@media (max-width: 560px){
    header{
        font-size: 0.8rem;
        & .nav-title-brand{
            display: none;
        }
    }
}