<header>
    <div>
        <a routerLink="/" class="nav-title">
            <img src="./assets/logo.svg" >
            <p class="nav-title-brand">Systemizer</p>
        </a>
    </div>
    <div class="nav-right">
        <a href="https://github.com/honzaap/Systemizer" target="_blank" class="btn-github-slide">
            <span class="text">
                Fork&nbsp;us!
            </span>
            <span class="icon">
                <i class="fab fa-github"></i>
            </span>
        </a>
        <a routerLink="create" class="btn-purple">Get started</a>
    </div>
</header>