header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.35em;
    font-size: 0.9rem;
    & .nav-title{
        color: var(--main-light);
        font-size: 1.5rem;
        font-weight: 600;
        height: 4.5em;
        display: flex;
        align-items: center;
        gap: 0.5em;
        & img{
            height: 100%;
        }
    }
    & .nav-right{
        display: flex;
        gap: 1em;
        align-items: center;
    }
}
.btn-github-slide{
    font-size: 1.25rem;
    outline: none;
    overflow: hidden;
    position: relative;
    border: 0;
    border-radius: 1em;
    background-color: var(--text-main-light);
    display: flex;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    transition: width 0.2s ease-in-out;
    & .icon{
        position: absolute;
        width: 1em;
        height: 1em;
        right: 0.25em;
        display: flex;
    }
    & .text{
        font-size: 0.6em;
        position: absolute;
        right: 3em;
    }
    &:hover{
        width: 4.75em;
    }
}

@media (max-width: 560px){
    header{
        font-size: 0.8rem;
        & .nav-title-brand{
            display: none;
        }
    }
}