header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.35em;
    font-size: 0.9rem;
    & .nav-title{
        color: var(--main);
        font-size: 1.5rem;
        font-weight: 600;
        height: 4.5em;
        display: flex;
        align-items: center;
        gap: 0.5em;
        & img{
            height: 100%;
        }
    }
    & .nav-right{
        display: flex;
        gap: 1em;
        align-items: center;
    }
}
@media (max-width: 360px){
    header{
        & > div{
            flex-basis: 100%;
        }
        & .nav-title{
            justify-content: center;
        }
    }
}
.btn-github-slide{
    font-size: 1.25rem;
    outline: none;
    overflow: hidden;
    position: relative;
    border: 0;
    border-radius: 1em;
    background-color: rgba(#000, 0.5);
    display: flex;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    transition: width 0.2s ease-in-out;
    & .icon{
        position: absolute;
        width: 1em;
        height: 1em;
        right: 0.25em;
        display: flex;
    }
    & .text{
        font-size: 0.6em;
        position: absolute;
        right: 3em;
    }
    &:hover{
        width: 4.75em;
    }
}

.mode-switch{
    display: flex;
    align-items: center;
    width: 3em;
    font-size: 1.1rem;
    background-color: var(--main);
    filter: saturate(0.3);
    color: #fff;
    border-radius: 1em;
    padding: 0.1em;
    padding-left: 1.8em;
    transition: padding 0.2s ease-in-out;
    &.dark{
        filter: none;
        padding-left: 0.1em;
    }
}



@media (max-width: 560px){
    header{
        font-size: 0.8rem;
        & .nav-title-brand{
            display: none;
        }
    }
}