@import "../../../../colors";

:host{
    position: relative;
}
.options-endpoint{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    gap: 0.3em;
    margin-top: 0.3em;
    & .endpoint-url{
        flex-grow: 1;
        flex-shrink: 1;
    }
    & .endpoint-method{
        flex-basis: 30%;
        flex-shrink: 0;
    }
}
.endpoint-protocol{
    flex-grow: 1;
    text-align: right;
    & span{
        font-size: 0.55rem;
        color: $purple-light;
    }
}
.actions-container{
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
    & button{
        width: max-content;
    }
}
.read-only-controls{
    position: absolute;
    width: 40px;
    height: 40px;
    &:hover{
        & button{
            opacity: 1;
        }
    }
    & button{
        padding: 0.2em 0.6em;
        width: max-content;
        border: 0;
        opacity: 0;
        font-size: 10px;
        outline: none;
        transform: translate(-55px, 5px);
        cursor: pointer;
        background-color: $purple-dark;
        color: #fff;
        transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in;
        &:hover{
            background-color: $purple-darker;
        }
    }
}