<header>
    <nav class="nav">
        <ul class="nav-list">
            <li>
                <input spellcheck="false" autocomplete="off" type="text" class="navbar-name" id="navbar-name" value="Untitled System" />
            </li>
            <li>
                <a href="#" class="nav-link" >File</a>
            </li>
            <li>
                <a href="#" class="nav-link" >View</a>
            </li>
            <li>
                <a href="#" class="nav-link" >Edit</a>
            </li>
        </ul>
    </nav>
</header>