<header>
    <nav class="nav">
        <ul class="nav-list">
            <li>
                <input (input)="onNameChange()" [(ngModel)]="name" spellcheck="false" autocomplete="off" type="text" class="navbar-name" id="navbar-name" />
            </li>
            <li>
                <button mat-icon-button [matMenuTriggerFor]="fileMenu" aria-label="File menu">
                    File
                </button>
                <mat-menu #fileMenu="matMenu">
                    <button mat-menu-item (click)="saveFile.emit(name)">
                        <span>Save file</span>
                    </button>
                    <label class="file-form" mat-menu-item class="custom-file-upload">
                        <input #file (input)="load(file)" type="file" accept=".json" style="position: absolute;width: 100%;height: 100%;opacity: 0;cursor: pointer;right: 0;z-index: 100;">
                        Load file
                    </label>
                    <hr class="line">
                    <button mat-menu-item (click)="save.emit(name)">
                        <span>Save</span>
                    </button>
                </mat-menu>
            </li>
            <li>
                <button mat-icon-button [matMenuTriggerFor]="viewMenu" aria-label="View menu">
                    View
                </button>
                <mat-menu #viewMenu="matMenu">
                </mat-menu>
            </li>
            <li>
                <button mat-icon-button [matMenuTriggerFor]="editMenu" aria-label="Edit menu">
                    Edit
                </button>
                <mat-menu #editMenu="matMenu">
                </mat-menu>
            </li>
            <li>
                <button mat-icon-button [matMenuTriggerFor]="helpMenu" aria-label="Help menu">
                    Help
                </button>
                <mat-menu #helpMenu="matMenu">
                    <button mat-menu-item (click)="onboardTutorial1.emit()">
                        <span>Quick introduction tutorial</span>
                    </button>
                </mat-menu>
            </li>
        </ul>
    </nav>
</header>