.component-title{
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    font-size: 10px;
    z-index: 100;
    z-index: 3;
    overflow: visible;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7);
    outline: none;
    text-align: center;
    border: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.1s linear;
    &:hover{
        border-color: rgba(2, 86, 143,0.45);
    }
}
.technology-image{
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    right: -10px;
    z-index: 20;
    pointer-events: none;
}