<input [style.left.px]="LogicMessageQueue.options.X-20"
[style.top.px]="LogicMessageQueue.options.Y-20" 
#compTitle type="text" class="component-title" [(ngModel)]="LogicMessageQueue.options.title" spellcheck="false">
<div
#anchorRef
(mousedown)="handleMousedown( $event )"
(click)="handleClick()"
class="anchor component"
[style.left.px]="LogicMessageQueue.options.X"
[style.top.px]="LogicMessageQueue.options.Y"
>
    <template #conn></template>
    <div class="img-container messages">
        <div class="message empty" *ngFor="let num of [].constructor(10)"></div>
    </div>  
    <div class="img-container messages">
        <div class="message" *ngFor="let message of LogicMessageQueue.messages | slice:0:10;"></div>
        <div class="message fill"></div>
        <div class="message fill"></div>
        <div class="message fill"></div>
        <div class="message fill"></div>
        <div class="message fill"></div>
        <div class="message fill"></div>
        <div class="message fill"></div>
        <div class="message fill"></div>
        <div class="message fill"></div>
        <div class="message fill"></div>
    </div>  
</div>
<div style="display:none">
    <div #options>
        <div class="options-endpoints-container">
            <div class="options-endpoints-top">
                <span class="property-name">Endpoints:</span>
            </div>
            <div class="options-endpoints">
                <div class="options-endpoint" *ngFor="let endpoint of this.LogicMessageQueue.options.endpoints">
                    <input disabled class="endpoint-url" [(ngModel)]="endpoint.url" >
                </div>
            </div>
        </div>
    </div>
</div>