:host{
    position: relative;
}
.component{
    width: 80px;
}
.img-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1px;
    & .message{
        flex-basis: calc(10% - 1px);
        flex-grow: 0;
        flex-shrink: 0;
        &.fill{
            background-color: rgba(0, 0, 0, 0.3);
            pointer-events: none;
            flex-grow: 1;
            flex-shrink: 1;
            
        }
        & .img{
            width: auto;
            height: 100%;
        }
        &.empty{
            background-color: rgba(255,255,255,0.4);
        }
    }
}
.component-title{
    width: 120px;
}