<div
#anchorRef
class="anchor component"
[style.left.px]="LogicMessageQueue.options.X"
[style.top.px]="LogicMessageQueue.options.Y"
>
    <template #conn></template>
    <div class="img-container messages">
        <div class="message empty" *ngFor="let num of [].constructor(10)"></div>
    </div>  
    <div class="img-container messages" (mousedown)="handleMousedown( $event )"
    (click)="handleClick()">
        <div class="message" *ngFor="let message of LogicMessageQueue.messages | slice:0:10;"></div>
        <div class="message fill" *ngFor="let num of [].constructor(10)"></div>
    </div>  
</div>
<div style="display:none">
    <div #options>
        <div class="options-endpoints-container">
            <div class="options-endpoints-top">
                <span class="property-name">Endpoints: <info-tooltip [Message]="'A message queue endpoint. The message queue will publish data to this endpoint (By default set to name of the component).'"></info-tooltip></span>
            </div>
            <div class="options-endpoints">
                <div class="options-endpoint" *ngFor="let endpoint of this.LogicMessageQueue.options.endpoints">
                    <input disabled class="endpoint-url" [(ngModel)]="endpoint.url" >
                </div>
            </div>
        </div>
    </div>
</div>