@import "../../../colors";

.component-menu-window{
    position: absolute;
    top: 20%;
    bottom: 25%;
    left: 0;
    width: 15rem;
    min-height: 400px;
    padding-bottom: 2em;
    overflow-y: scroll;
    background-color: $bg-main-light;
    /*backdrop-filter: blur(6px);*/
    border-radius: 0.5em;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #C5C5C5;
    box-shadow: 4px -7px 20px 7px rgb(0 0 0 / 40%), 0px 4px 5px 0px rgb(0 0 0 / 28%), 0px 1px 10px 0px rgb(0 0 0 / 24%);
    & .top{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0.3em;
        & .search{
            outline: none;
            background-color: $bg-main-light;
            border: 0.15em solid rgba(0,0,0,0.2);
            color:#fff;
            padding: 0.2em 0 0.2em 0.5em;
            font-size: 1rem;
            max-width: 70%;
            transition: background-color 0.1s linear;
            &::placeholder{
                color: #a1a1a1;
                transition: transform 0.1s ease-out;
            }
            &:hover{
                background-color: $bg-main-dark;
                &::placeholder{
                    transform: translateX(10px);
                }
            }
        }
        & .window-close:hover{
            cursor: pointer;
        }
    }
    & .main{
        display: flex;
        flex-flow: column nowrap;
        margin-top: 0.5em;
        gap: 0.3em;
    }
}
.section{
    & .header{
        width: 100%;
        font-size: 1.1rem;
        padding: 0.2em 0.3em;
        background-color: $bg-main-dark;
        display: flex;
        justify-content: space-between;
        &:hover{
            cursor: default;
        }
    }
    &.active .content{
        display: flex;
    }
    & .content{
        display: none;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 0.4em;
        position: relative;
        & .section-item{
            background-color: $bg-main-dark;
            border-radius: 0.4em;
            padding: 0.625em;
            flex-basis: 21%;
            margin-bottom: 0.3em;
            position: relative;
            transition: background-color 0.1s ease-out, transform 0.1s ease-out;
            &:hover{
                background-color: $main-darker;
                transform: scale(1.05);
                cursor: pointer;
            }
            & img{
                vertical-align: bottom;
            }
            & .info{
                position: absolute;
                top: 0em;
                right: 0em;
                color: $main-light;
                height: 1em;
                width: 1em;
                outline: none;
                border: 0;
                background-color: transparent;
                padding: 0;
                cursor: pointer;
                &:hover{
                    transform: scale(1.2);
                }
            }
            & .caption{
                font-size: 0.575em;
                position: absolute;
                top: 1px;
                left: 1px;
            }
        }
        & .section-item.fill{
            flex-shrink: 1;
            background: none;
            opacity: 0;
            pointer-events: none;
            max-height: 0;
            padding: 0;
            margin: 0;
        }
    }
}
/* width */
::-webkit-scrollbar {
    width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.6);
    border-radius: 5px;
}
.arrow-open{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5px;
    top: 50%;
    bottom: 50%;
    font-size: 1.7rem;
    width: 1.4em;
    height: 1.4em;
    color: #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color 0.2s ease-out, color 0.2s ease-out, left 0.2s ease-out;
    &:hover{
        color: #C5C5C5;
        background-color: $main-dark;    
        left: 10px;
        cursor: pointer;
    }
}
.item-description{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 16rem;
    width: 9rem;
    height: 5rem;
    font-size: 0.7rem;
    padding: 0.4em 0;
    color: #fff;
    background-color: $bg-main-light;
    text-align: center;
    & span{
        margin: 0.1em;
    }
    & hr{
        margin: 0.5em 0 0.5em;
        background-color: #fff;
        border: 1px solid #fff;
    }
    & img{
        width: 33%;
    }
}
.placing-item{
    position: absolute;
    pointer-events: none;
    &.section-item{
        background-color: $bg-main-darker;
        border-radius: 0.4em;
        padding: 0.3em;
        & img{
            vertical-align: bottom;
        }
    }
}
.component-info-window{
    color: #fff;
    position: absolute;
    top: 15%;
    bottom: 30%;
    right: 25%;
    left: 25%;
    backdrop-filter: blur(4px);
    border: 0.1em solid $bg-main-light;
    box-shadow: 0px 0px 25px 2px #000;
    padding: 2em;
    overflow-y: scroll;
    & .component-info-title{
        margin-bottom: 0.5em;
        display: block;
        text-align: center;
        font-size: 1.1em;
    }
    & .component-info-icon{
        margin: 0 auto;
        height: 4em;
        width: 4em;
        padding: 1em;
        background-color: $bg-main-darker;
        border-radius: 0.8em;
        margin-bottom: 2em;
    }
    & p{
        margin: 1em 0;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-weight: 200;
        font-size: 0.8em;
    }
    & .highlight{
        color: $main-dark;
        font-weight: 400;
    }
    & .underline{
        text-decoration: underline;
    }
    & .close{
        outline: 0;
        border: 0;
        cursor: pointer;
        position: absolute;
        top: 0.25em;
        right: 0.25em;
        font-size: 1em;
        color: #fff;
        background-color: transparent;
        width: 1.5em;
        height: 1.5em;
        transition: color 0.1s linear;
        &:hover{
            color: $main-light;
        }
    }
    &::-webkit-scrollbar {
        width: 0;
    }
    
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: transparent
    }
}