<div class="page" *ngIf="!showMobileDisclaimer; else mobileNoPass">
    <board-header 
        (newFile)="newFile()"
        (saveFile)="saveFile($event)" 
        (loadFile)="loadFile($event)"
        (save)="save()" 
        (exportPng)="exportPng($event)"
        (copy)="copy()"
        (paste)="paste()"
        (cut)="cut()"
        (del)="deleteComponent()"
        (undo)="undo()"
        (redo)="redo()"
        (clearBoard)="clearBoard()"
        (fullscreen)="fullscreen()"
        (zoomIn)="zoomIn()"
        (zoomOut)="zoomOut()"        
        (onboardTutorial1)="openTutorialMenu()" 
        >
    </board-header>
    <app-board (changeSystemName)="changeSystemName($event)"></app-board>
    <app-componentmenu></app-componentmenu>
    <app-optionsmenu></app-optionsmenu>
    <div class="onboard-tutorial-container">
        <tutorial-controls *ngIf="isTutorialMenuOpen" (closeMenu)="closeTutorialMenu()"></tutorial-controls>
    </div>
</div>
<ng-template #mobileNoPass>
    <div class="mobile-no-pass">
        <img src="./assets/logo.svg">
        <p class="fs-2">Hey, we are so sorry, but systemizer is currently not supported on mobile devices :&nbsp;(</p>
        <p class="fs-4">But we are working on optimization for mobile devices.</p>
        <a class="btn-purple" routerLink="/">Go back</a>
    </div>
</ng-template>
