.page{
    height: 100vh;
    display: flex;
    background-color: var(--background);
    flex-flow:column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.page > app-board{
    flex-grow: 1;
    flex-shrink: 1;
}
.onboard-tutorial-container{
    position: absolute;
    bottom: 0;
    right: 20.5rem;
}
.mobile-no-pass{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background);
    z-index: 1200;
    color: var(--text);
    text-align: center;
    font-size: 1.5em;
    padding: 0.2em;
    & p{
        margin: 1em 0;
    }
    & a{
        margin: 0.5em auto;
    }
}
.viewer-error{
    background-color: var(--background-dark);
    color: var(--text);
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    & h5{
        font-size: 1.5em;
    }
    & a{
        color: var(--main);
    }
}