:host{
    position: relative;
}

.property-info-button{
    font-size: 0.7rem;
    vertical-align: top;
    color: var(--main-light);
    cursor: pointer;
    &:hover{
        color: var(--main-dark);
    }
}