@import "../../colors.scss";

:host{
    position: relative;
}

.property-info-button{
    font-size: 0.7rem;
    vertical-align: top;
    color: $main-light;
    cursor: pointer;
    &:hover{
        color: $main-dark;
    }
}