<input [style.left.px]="LogicDatabase.options.X-20"
[style.top.px]="LogicDatabase.options.Y-20" 
#compTitle type="text" class="component-title" [(ngModel)]="LogicDatabase.options.title" spellcheck="false">
<div
#anchorRef
(mousedown)="handleMousedown( $event )"
(click)="handleClick()"
class="anchor component"
[style.left.px]="LogicDatabase.options.X"
[style.top.px]="LogicDatabase.options.Y"
>
    <template #conn></template>
    <div class="img-container">
        <img src="./assets/database.svg">
    </div>  
</div>
<div style="display:none">
    <div #options>
        <div class="options-type-container">
            <span class="property-name">Type: <info-tooltip [Message]="'Changes the type of the database. This does not have any effect on the visualization.'"></info-tooltip></span>
            <div>
                <mat-form-field appearance="fill" class="action-endpoint">
                    <mat-select (selectionChange)="changeDatabaseType()" [disabled]="LogicDatabase.options.isShard" [(ngModel)]="LogicDatabase.options.type">
                      <mat-option *ngFor="let type of DatabaseTypeKeys" [value]="type">{{DatabaseType[type]}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="options-endpoints-container">
            <div class="options-endpoints-top">
                <span *ngIf="LogicDatabase.options.isShard; else defaultEpInfo" class="property-name">Endpoints: <info-tooltip [Message]="'Database endpoint that data will be sent to (Set by default to /shard). '"></info-tooltip></span>
                <ng-template #defaultEpInfo>
                    <span class="property-name">Endpoints: <info-tooltip [Message]="'Database endpoint that data will be sent to (Set by default to /database). '"></info-tooltip></span>
                </ng-template>
            </div>
            <div class="options-endpoints">
                <div class="options-endpoint" *ngFor="let endpoint of this.LogicDatabase.options.endpoints">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <input disabled class="endpoint-url" [(ngModel)]="endpoint.url" >
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="options-endpoint-menu-top">
                            <mat-form-field class="endpoint-method" appearance="fill">
                                <mat-select disabled [(ngModel)]="endpoint.supportedMethods" multiple>
                                    <mat-option *ngFor="let method of HTTPMethodKeys" [value]="method">{{ formatMethod(HTTPMethod[method], true) }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </div>
    <div #actions>
        <div class="options-actions">
            <div class="actions-container">
                <button [disabled]="LogicDatabase.options.isMasterShard || LogicDatabase.options.isShard"
                 (click)="shard()">Shard Database</button>
            </div>
        </div>
    </div>
</div>