:host{
    flex-grow: 1;
}

.container{
    width: 1000px;
    margin: 2em auto;
    color: var(--text);
}
h1{
    color: var(--main)
}
h2{
    font-size: 1.1em;
    font-weight: normal; 
}
h3{
    font-weight: normal;
    font-size: 1em;
}
.text-center{
    text-align: center;
}
.intro{
    display: flex;
    & .title{
        flex-basis: 40%;
        & h1{
            width: 80%;
            margin-bottom: 0.4em;
        }
    }
}
a.highlight{
    cursor: pointer;
    color: var(--main);
    &:hover{
        text-decoration: underline;
    }
}
.info-free{
    display: block;
    text-align: right;
}
.components{
    display: flex;
    margin-top: 4em;
    font-size: 19px;
    justify-content: space-evenly;
    & > div{
        flex-basis: 45%;
    }
    & .components-showcase{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        & > div{
            flex-basis: 30%;
            margin-top: 1em;
        }
    }
    & .component-container{
        & .title{
            font-size: 12px;
            margin-bottom: 0.2em;
            display: block;
            color: var(--text-light);
        }
    }
    & .component-body{
        background-color: var(--background-dark);
        padding: 0.5em;
        width: 3em;
        border-radius: 0.3em;
        height: 3em;
        position: relative;
        margin: 0 auto;
        & > .img{
            width: 100%;
            height: 100%;
            display: block;
        }
        & .bg-webserver{
            mask: url("../../../assets/webserver.svg") no-repeat center;
            -webkit-mask: url("../../../assets/webserver.svg") no-repeat center;
        }
        &.long{
            width: 6em;
            & img{
                margin-left: 1.5em;
            }
        }
        &.high{
            height: 6em;
            & img{
                margin-top: 1.5em;
            }
            & .port{
                top: 2.5em;
            }
        }
        &.mq{
            display: flex;
            flex-flow: row nowrap;
            gap: 2px;
        }
        & .cell{
            width: 0.55em;
            height: 100%;
            background-color: var(--text);
            opacity: 0.2;
        }
        & .port{
            width: 1em;
            height: 1em;
            border-radius: 50%;
            border: 0.2em solid;
            background-color: var(--background-light);
            position: absolute;
            top: 1em;
            &.left{
                left: -1.25em;
            }
            &.right{
                right: -1.25em;
            }
        }
    }
}
.get-started{
    margin-top: 3.5em;
    text-align: center;
    & h4{
        font-weight: normal;
    }
    .btn-main{
        margin: 1em auto;
    }
}
.animation{
    position: relative;
    margin-left: 5em;
    width: 17em;
    & svg{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 11em;
        width: 17em;
        margin-top: -4em;
        & path{
            stroke-width: 3;
        }
        & #anim-data{
            transform: translate(-10px, 0);
            animation: data-anim 3s linear infinite;
        }
    }
}
.caption-dark{
    margin-top: 0.7em;
    color: var(--text-light);
}
.open-source{
    margin-top: 2.5em;
    & img{
        margin: 0.5em;
    }
}
.mt-1{
    margin-top: 0.5em;
}


@keyframes data-anim {
    0%, 20.001%, 30%, 50.001%, 60%, 80.001%, 100%{
        transform: translate(-10px, 0);
    }
    10%, 40%, 70%{
        transform: translate(35px, 0);
    }
    10.001%, 40.001%, 70.001%{
        transform: translate(125px, 0);
    }
    20%{
        transform: translate(170px, -75px);
    }
    50%{
        transform: translate(170px, 0);
    }
    80%{
        transform: translate(170px, 75px);
    }

}


@media (max-width: 1024px){
    .container{
        width: 95%;
    }
    .intro{
        flex-flow: column nowrap;
        text-align: center;
        & .title{
            flex-basis: 100%;
            & h1{
                width: 100%;                
            }
        }
        & .btn-main{
            margin: 0 auto;
        }
    }
    .animation{
        margin: 6em auto 0;
    }
    .components{
        flex-flow: column nowrap;
        text-align: center;
        & .components-showcase{
            margin-bottom: 2em;
        }
    }
    .components-intro{
        flex-flow: row nowrap;
    }
    .info-free{
        text-align: center;
    }
}

@media (max-width: 560px){
    .components{
        & .component-container{
            flex-basis: 40% !important;
        }
    }
}