<main class="container">
    <div class="intro">
        <div class="title">
            <h1>The best system design tool.</h1>
            <h3>Systemizer provides system visualization with customizable components</h3>
            <p class="caption-dark fs-6">Are you new to design tools? This <a class="highlight" routerLink="getting-started">quick introduction</a> is just for you!</p>
        </div>
        <div class="animation components components-intro">
            <svg>
                <path #mainPath d="M120 105 L80 105"></path>
                <path #mainPath d="M250 30 L205 105"></path>
                <path #mainPath d="M250 180 L205 105"></path>
                <path #mainPath d="M250 105 L200 105"></path>
                <circle id="anim-data" cx="80" cy="105" r="5" fill="#31B78D"></circle>
            </svg>
            <div class="component-body">
                <img src="./assets/client.svg" alt="Client visualization">
                <div class="port right"></div>
            </div>
            <div class="component-body" style="margin-left: 4em;">
                <img src="./assets/loadbalancer.svg" alt="Load Balancer visualization">
                <div class="port left"></div>
                <div class="port right"></div>
            </div>
            <div style="margin-left: 4em; margin-top: -4em;">
                <div class="component-body">
                    <img src="./assets/api.svg" alt="API visualization">
                    <div class="port left"></div>
                </div>
                <div class="component-body" style="margin-top: 1em;">
                    <img src="./assets/api.svg" alt="API visualization">
                    <div class="port left"></div>
                </div>
                <div class="component-body" style="margin-top: 1em;">
                    <img src="./assets/api.svg" alt="API visualization">
                    <div class="port left"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="components">
        <div class="components-showcase">
            <div class="component-container">
                <span class="title">Client</span>
                <div class="component-body">
                    <img src="./assets/client.svg" alt="Client visualization">
                    <div class="port right"></div>
                </div>
            </div>

            <div class="component-container">
                <span class="title">Web Server</span>
                <div class="component-body">
                    <img src="./assets/webserver.svg" alt="Client visualization">
                    <div class="port left"></div>
                </div>
            </div>

            <div class="component-container">
                <span class="title">Load Balancer</span>
                <div class="component-body">
                    <img src="./assets/loadbalancer.svg" alt="Load Balancer visualization">
                    <div class="port left"></div>
                    <div class="port right"></div>
                </div>
            </div>

            <div class="component-container">
                <span class="title">API Gateway</span>
                <div class="component-body high">
                    <img src="./assets/apigateway.svg" alt="API Gateway visualization">
                    <div class="port left"></div>
                    <div class="port right"></div>
                </div>
            </div>

            <div class="component-container">
                <span class="title">API Service</span>
                <div class="component-body">
                    <img src="./assets/api.svg" alt="API visualization">
                    <div class="port left"></div>
                    <div class="port right"></div>
                </div>
            </div>

            <div class="component-container">
                <span class="title">Pub/Sub Model</span>
                <div class="component-body">
                    <img src="./assets/pubsub.svg" alt="Publisher Subscriber visualization">
                    <div class="port left"></div>
                    <div class="port right"></div>
                </div>
            </div>

            <div class="component-container">
                <span class="title">Database</span>
                <div class="component-body">
                    <img src="./assets/database.svg" alt="Database visualization">
                    <div class="port left"></div>
                    <div class="port right"></div>
                </div>
            </div>

            <div class="component-container">
                <span class="title">Cache</span>
                <div class="component-body">
                    <img src="./assets/cache.svg" alt="Cache visualization">
                    <div class="port left"></div>
                    <div class="port right"></div>
                </div>
            </div>

            <div class="component-container">
                <span class="title">Message Queue</span>
                <div class="component-body long mq">
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="cell"></div>
                    <div class="port left"></div>
                    <div class="port right"></div>
                </div>
            </div>
        </div>
        <div>
            <h2 class="fs-3">Create and visualize your backend system</h2>
            <p class="caption-dark fs-5">Many different components with customizable properties and more to come.</p>
        </div>
    </div>
    <div class="get-started">
        <a class="btn-main" routerLink="create">Get started</a>
    </div>
    <div class="open-source text-center">
        <h3>Open source & Open to contributions!</h3>
        <div class="mt-1">
            <a href="https://github.com/honzaap/Systemizer">
                <img alt="GitHub contributors" src="https://img.shields.io/github/contributors/honzaap/Systemizer?color=df9300&label=Contributors&style=flat-square">
                <img alt="GitHub issues" src="https://img.shields.io/github/issues-raw/honzaap/Systemizer?color=7767d4&label=Open%20issues&style=flat-square">
                <img alt="GitHub forks" src="https://img.shields.io/github/forks/honzaap/Systemizer?color=080a1a&label=Fork%20us&style=flat-square">
                <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/honzaap/Systemizer?color=9278ff&label=Star%20us&style=flat-square">
            </a>
        </div>
    </div>
</main>