.window{
    height: 20.5rem;
    width: 19rem;
    border: 0.1rem solid var(--border);
    background-color: var(--background-dark);
    color: var(--text);
    position: relative;
    font-size: 0.8em;
    z-index: 1000;
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: bottom 0.2s ease-in-out;
    & .progress{
        position: absolute;
        height: 1rem;
        background-color: #959595;
        top: -1.5rem;
        left: 15%;
        right: 15%; 
        text-align: center;
        color: var(--background);
        font-weight: bold;
        & .progress-bar{
            height: 100%;
            background-color: var(--main);
            position: absolute;
        }
        & .progress-text{
            position: absolute;
            left: 0;
            right: 0;
        }
    }
    & .window-controls{
        position: absolute;
        top: 0;
        right: -1.7rem;
        transition: top 0.5s ease-in-out, right 0.5s ease-in-out;
        & button{
            width: 1.2rem;
            height: 1.2rem;
            outline: none;
            border: 0;
            display: block;     
            cursor: pointer;
            &.close{
                background-color: var(--main);
                color: #fff;
                &:hover{
                    filter: brightness(1.25);
                }
            }
            &.min{
                background-color: var(--main);
                filter: saturate(0.3);
                color: #fff;
                &:hover{
                    filter: brightness(0.8);
                }
            }
        }
    }
    & .content{
        & img{
            width: 100%;
        }
        & .title{
            font-size: 1.2em;
            color: var(--text);
            font-weight: 600;
            text-align: center;
            margin-top: 0.4em;
        }
        & .line{
            width: 70%;
            margin: 0.4em auto 0.8em;
            border-color: var(--text);
        }
        .text{
            padding: 0 0.8em 1em;
        }
    }
    & .controls{
        display: flex;
        margin-top: auto;
        padding: 0.5em;
        & > button{
            outline: none;
            border: 0;
            cursor: pointer;
            padding: 0.5em;
            width: 120px;
        }
        & .prev{
            color: #fff;
            margin-right: auto;
            background-color: var(--main);
            filter: saturate(0.4);
            &:hover{
                filter: brightness(1.1);
                background-color: var(--main);
                color: #fff;
            }
        }
        & .next{
            color: #fff;
            margin-left: auto;
            background-color: var(--main);
            &:hover{
                filter: brightness(1.25);
            }
        }
    }
    &.minimized{
        bottom: -395px;
        & .window-controls{
            top: -1.6rem;
            right: 0;
            & .min{
                transform: translate(100%, -100%);
            }
        }
    }
}