<div class="page">
    <landing-header></landing-header>
    <main class="container">
        <div class="intro">
            <div class="title">
                <h1>The best system design tool available.</h1>
                <a class="btn-purple fs-5" routerLink="create">Start designing</a>
                <p class="caption-dark fs-5">Design architecture and simulate the data flow of your distributed system.</p>
            </div>
            <div class="animation components components-intro">
                <svg>
                    <path #mainPath d="M120 105 L80 105"></path>
                    <path #mainPath d="M250 30 L205 105"></path>
                    <path #mainPath d="M250 180 L205 105"></path>
                    <path #mainPath d="M250 105 L200 105"></path>
                    <circle id="anim-data" cx="80" cy="105" r="5" fill="#31B78D" >
                    </circle>
                  </svg>
                <div class="component-body">
                    <img src="../../assets/client.svg" >
                    <div class="port right"></div>
                </div>
                <div class="component-body" style="margin-left: 4em;">
                    <img src="../../assets/loadbalancer.svg" >
                    <div class="port left"></div>
                    <div class="port right"></div>
                </div>
                <div style="margin-left: 4em; margin-top: -4em;">
                    <div class="component-body">
                        <img src="../../assets/api.svg" >
                        <div class="port left"></div>
                    </div>
                    <div class="component-body" style="margin-top: 1em;">
                        <img src="../../assets/api.svg">
                        <div class="port left"></div>
                    </div>
                    <div class="component-body" style="margin-top: 1em;">
                        <img src="../../assets/api.svg" >
                        <div class="port left"></div>
                    </div>
                </div>
            </div>
        </div>
        <span class="caption-dark fs-6 info-free">All for free, no need to login or register.</span>
        <div class="components">
            <div class="components-showcase">
                <div class="component-container">
                    <span class="title">Client</span>
                    <div class="component-body">
                        <img src="../../assets/client.svg" >
                        <div class="port right"></div>
                    </div>
                </div>

                <div class="component-container">
                    <span class="title">Web Server</span>
                    <div class="component-body">
                        <img src="../../assets/webserver.svg" >
                        <div class="port left"></div>
                    </div>
                </div>

                <div class="component-container">
                    <span class="title">Load Balancer</span>
                    <div class="component-body">
                        <img src="../../assets/loadbalancer.svg" >
                        <div class="port left"></div>
                        <div class="port right"></div>
                    </div>
                </div>

                <div class="component-container">
                    <span class="title">API Gateway</span>
                    <div class="component-body high">
                        <img src="../../assets/apigateway.svg" >
                        <div class="port left"></div>
                        <div class="port right"></div>
                    </div>
                </div>

                <div class="component-container">
                    <span class="title">API Service</span>
                    <div class="component-body">
                        <img src="../../assets/api.svg" >
                        <div class="port left"></div>
                        <div class="port right"></div>
                    </div>
                </div>

                <div class="component-container">
                    <span class="title">Pub/Sub Model</span>
                    <div class="component-body">
                        <img src="../../assets/pubsub.svg" >
                        <div class="port left"></div>
                        <div class="port right"></div>
                    </div>
                </div>

                <div class="component-container">
                    <span class="title">Database</span>
                    <div class="component-body">
                        <img src="../../assets/database.svg" >
                        <div class="port left"></div>
                        <div class="port right"></div>
                    </div>
                </div>

                <div class="component-container">
                    <span class="title">Cache</span>
                    <div class="component-body">
                        <img src="../../assets/cache.svg" >
                        <div class="port left"></div>
                        <div class="port right"></div>
                    </div>
                </div>

                <div class="component-container">
                    <span class="title">Message Queue</span>
                    <div class="component-body long mq">
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="port left"></div>
                        <div class="port right"></div>
                    </div>
                </div>
            </div>
            <div>
                <p class="fs-3">Many different components with customizable properties!<br><strong>And more to come!</strong></p>
                <p class="caption-dark fs-5">Systemizer is still a work in progress, but it's growing every day.</p>
            </div>
        </div>
        <div class="get-started">
            <h4 class="fs-1">Get started with Systemizer today</h4>
            <a class="btn-purple" routerLink="create">Systemize</a>
        </div>
    </main>
    <landing-footer></landing-footer>
</div>