@import "../../colors";

:host{
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.board{
    background: $bg-main-dark;
    z-index: -1;
    &.infocus:hover{
        cursor: default;
    }
    &.moving{
        cursor: grab !important;
    }
    & .board-bg-title{
        position: absolute;
        color: rgba(255,255,255,0.015);
        font-size: 140px;
        left: 0;
        right: 0;
        top: 50%; transform: translateY(-50%);
        text-align: center;
        pointer-events: none;
        z-index: 0;
        transition: color 0.2s linear, text-shadow 0.2s linear;
    }
}
.svg-canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.backdrop-centralized{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.loading{
    gap: 1em;
    font-size: 2em;
    color: #fff;
    & img{
        animation: loadingAnim 1s ease-in-out infinite;
    }
}
.close{
    position: absolute;
    color: #d4d4d4;
    top: 0.2em;
    right: 0.2em;
    border: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.1em;
    &:hover{
        color: #fff;
    }
}
.autosave{
    position: absolute;
    top: 3em;
    right: 1em;
    color: #fff;
    background-color: $main-darker;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.35em;
    border-radius: 50%;
    opacity: 0.5;
    animation: autosave 1s ease-in-out;
}
.saved-boards{
    position: relative;
    min-width: 800px;
    max-width: 950px;
    color: #fff;
    background-color: $bg-main-light;
    padding: 1em;
    & .title{
        text-align: center;
    }
    & .note{
        font-size: 0.65em;
        font-weight: normal;
        text-align: center;
        display: block;
        color: #b0b0b0;
    }
    & .saved-boards-main-container{
        display: flex;
        gap: 0.5em;
    }
    & .selected{
        outline: 0.1em solid #fff;
    }
    & .saved-boards-main{
        margin-top: 1em;
        padding: 1em;
        flex-basis: 70%;
        display: flex;
        flex-flow: column nowrap;
        gap: 1em;
        max-height: 70vh;
        overflow-y: scroll;
        & .saved-board{
            position: relative;
            transition: filter 0.2s ease-in-out;
            cursor: pointer;
            &:hover{
                filter: brightness(80%);
            }
            & .saved-board-title{
                position: absolute;
                top: 0.3em;
                right: 0.5em;
                color: #fff;
            }
        }
    }
    & .saved-boards-side{
        display: flex;
        flex-flow: column;
        gap: 0.5em;
        padding: 0.5em;
        flex-grow: 1;
        color: #fff;
        & .selected-title{
            font-size: 1.1em;
            text-align: center;
            display: block;
        }
        & .selected-info{
            font-size: 0.85em;
            & .highlight{
                color: $main-dark;
            }
        }
        & .selected-actions{
            margin-top: auto;
            margin-bottom: auto;
            align-self: center;
            display: flex;
            gap: 1.4em;
            & button{
                font-size: 0.9em;
                font-weight: normal;
                border: 0;
                outline: 0;
                padding: 0.3em 1em;
                color: #fff;
                border-radius: 0.1em;
                cursor: pointer;
                transition: background-color 0.1s linear;
                &.delete{
                    background-color: $text-main-light;
                    &:hover{
                        background-color: $text-main-light;
                    }
                }
                &.load{
                    background-color: $main-dark;
                    &:hover{
                        background-color: $main-darker;
                    }
                }
                &:disabled{
                    filter: grayscale(100%);
                    cursor: not-allowed;
                }
            }
        }
    }
}
.saved-boards-popup{
    position: absolute;
    top: 100px;
    background-color: $bg-main-light;
    font-size: 0.8em;
    right: 0;
    display: flex;
    color: #fff;
    transition: transform 0.4s ease-in-out;
    &:hover{
        transform: translateX(0) !important;
    }
    & .hidden{
        width: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $main-dark;
    }
    & .show{
        padding: 0.5em 1em;
    }
    & button{
        margin-left: 0.5em;
        width: 80px;
        outline: 0;
        border: 0;
        padding: 0.5em 0.5em;
        color: #fff;
        background-color: $main-dark;
        cursor: pointer;
        transition: background-color 0.1s linear;
        &:hover{
            background-color: $main-darker;
        }
    }
}
.read-only-controls{
    position: absolute;
    bottom: 0.5em;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    width: max-content;
    margin: 0 auto;
    & .controls{ 
        display: flex;
        gap: 0.5em;
        transition: background-color 0.2s ease-in-out;
        padding: 0.5em 1em;
        border-radius: 2em;
        background-color: rgba(0, 0, 0, 0.4);
        &:hover{
            background-color: rgba(0, 0, 0, 0.7);
        }
        & button, & a{
            border: 0;
            font-size: 1.5rem;
            outline: none;
            padding: 0.2em;
            background-color: transparent;
            color: #fff;
            cursor: pointer;
            &:hover, &:focus{
                outline: 0;
            }
        }
    }
}
.read-only-watermark{
    position: absolute;
    left: 1em;
    bottom: 0.5em;
    color: rgba(#fff, 0.25);
    font-weight: 100;
    font-size: 12px;
    & a{
        text-decoration: underline;
        &:hover{
            color: #fff;
        }
    }
}
.read-only-tip{
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    background: $main-dark;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
}

@keyframes loadingAnim {
    0%{
        transform: scale(0.9);
    }
    50%{
        transform: scale(1.1);
    }
    100%{   
        transform: scale(0.9);
    }
}
@-moz-keyframes loadingAnim {
    0%{
        transform: scale(0.9);
    }
    50%{
        transform: scale(1.1);
    }
    100%{   
        transform: scale(0.9);
    }
}

@keyframes autosave {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.8;
    }
    100%{   
        opacity: 0;
    }
}
@-moz-keyframes autosave {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.8;
    }
    100%{   
        opacity: 0;
    }
}
