<div #board class="board infocus" id="board" oncontextmenu="return false;" (mousedown.self)="handleMousedown( $event )" (click.self)="handleSelfClick($event)" (click)="handleClick($event)">
    <h1 class="board-bg-title">Systemizer</h1>
    <template #conn></template>
    <svg class="svg-canvas" id="svg-canvas" >
    </svg>
</div>
<div class="backdrop-centralized loading" *ngIf="isLoading">
    Loading...
    <img src="./assets/logo.svg">
</div>
<div *ngIf="!isReadOnly">
    <div class="autosave" *ngIf="isAutosaving">
        <i class="far fa-save"></i>
    </div>
    <div class="backdrop-centralized" [style.display]="showSavedBoards ? 'flex' : 'none'" (click.self)="closeSavedBoards()">
        <div class="saved-boards">
            <button class="close" (click)="closeSavedBoards()">×</button>
            <div class="saved-boards-top">
                <h3 class="title">Your saved systems</h3>
                <span class="note">Note that these systems are saved in your browser and aren't permanent!</span>
            </div>
            <div class="saved-boards-main-container">
                <div class="saved-boards-main" #savedBoardsRef>
                    <span *ngIf="savedBoards == null || savedBoards.length == 0">You don't have any saved boards...</span>
                </div>
                <div class="saved-boards-side">
                    <span class="selected-title">{{ selectedSavedBoard == null ? "Select a board" : selectedSavedBoard.title }}</span>
                    <div class="selected-info">
                        <span *ngIf="selectedSavedBoard != null"><span class="highlight">{{ selectedSavedBoard.board.length }}</span> component{{ selectedSavedBoard.board.length == 1 ? "" : "s" }}</span>
                    </div>
                    <div class="selected-actions">
                        <button (click)="deleteSelectedSavedBoard()" [disabled]="selectedSavedBoard == null" class="delete">Delete</button>
                        <button (click)="loadSelectedSavedBoard()" [disabled]="selectedSavedBoard == null" class="load">Load</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="saved-boards-popup" [style.transform]="showSavedBoardsPopup ? 'translateX(0)' : 'translateX(calc(100% - 2em))' ">
        <span class="hidden">{{ savedBoards.length }}</span>
        <div class="show" >
            <span class="text">You have {{ savedBoards.length }} saved system<span *ngIf="savedBoards.length != 1">s</span></span>
            <button (click)="openSavedBoards()">Show all</button>
        </div>
    </div>
</div>
<div class="read-only-controls" *ngIf="isReadOnly">
    <div class="controls">
        <button *ngIf="!isAllClientsSendingData" (click)="startAllClients()" matTooltip="{{ 'Start animation' }}"><i class="fas fa-play"></i></button>
        <button *ngIf="isAllClientsSendingData" (click)="stopAllClients()" matTooltip="{{ 'Stop animation' }}"><i class="fas fa-stop"></i></button>
        <button (click)="zoomIn()" matTooltip="{{ 'Zoom in' }}"><i class="fas fa-search-plus"></i></button>
        <button (click)="zoomOut()" matTooltip="{{ 'Zoom out' }}"><i class="fas fa-search-minus"></i></button>
        <button (click)="resetView()" matTooltip="{{ 'Reset view' }}"><i class="fas fa-search"></i></button>
        <button (click)="toggleTitles()" matTooltip="{{ 'Toggle titles' }}"><i class="fas fa-heading"></i></button>
        <a target="_blank" href="{{viewerEditLink}}" matTooltip="{{ 'Edit board' }}"><i class="fas fa-edit"></i></a>
    </div>
</div>
<p class="read-only-watermark" *ngIf="isReadOnly">
    Visualization provided by <a target="_blank" href="https://honzaap.github.io/Systemizer">Systemizer</a>
</p>
<p class="read-only-tip" *ngIf="isReadOnly" matTooltip="{{ 'You can also hover over individual Clients to send data' }}">
    ?
</p>