@import "../../colors";

:host{
    height: 100%;
    overflow: hidden;
}
.board{
    /* background-color: #120013;*/
    background: $bg-purple-dark;
    outline: 6px solid $purple-darker;
    z-index: -1;
    &.infocus:hover{
        cursor: grab;
    }
    & .board-bg-title{
        position: absolute;
        color: rgba(255,255,255,0.03);
        font-size: 140px;
        left: 0;
        right: 0;
        top: 50%; transform: translateY(-50%);
        text-align: center;
        pointer-events: none;
        z-index: 0;
        transition: color 0.2s linear, text-shadow 0.2s linear;
    }
}
.svg-canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.nav{
    font-size: 1.1rem;
    padding: 0.2em 0;
    & .nav-list{
        gap:0.3em;
        color: #fff
    }
    & .line::before{
        content: "";
        height: 100%;
        margin-right: 0.3em;
        margin-left: 0.3em;
        border-left: 2px solid rgba(255,255,255,0.6);
    }
    & select{
        background-color: transparent;
        color: inherit;
        outline: none;
        border: none;
    }
    & .icon{
        width: 1em;
        height: 1em;
        display: inline-block;
        transition: transform 0.1s linear, color 0.1s linear;
    }
    & .icon:hover{
        transform: scale(1.05);
        color: $purple-dark;
        cursor: pointer;
    }
}
.loading{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    font-size: 2em;
    color: #fff;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    & img{
        animation: loadingAnim 1s ease-in-out infinite;
    }
}
.saving{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-flow: column nowrap;
    font-size: 0.9em;
    color: #fff;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    & .saving-inner{
        display: flex;
        flex-flow: row nowrap;
        background-color: $bg-purple-dark;
        border-radius: 0.4em;
        padding: 2em 1em;
        gap: 1em;
        position: relative;
        & .name{
            display: flex;
            flex-flow: column nowrap;
            gap: 0.2em;
            input {
                background-color: rgba(0, 0, 0, 0.35);
                color: #fff;
                padding: 0.3em 0.5em;
                border: 0;
                outline: none;
                border-bottom: 0.15em solid transparent;
                &:hover,&:focus{
                    border-color: $purple-light;
                }
            }
        }
        .close{
            position: absolute;
            color: #d4d4d4;
            top: 0.2em;
            right: 0.2em;
            border: 0;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            font-size: 1.1em;
            &:hover{
                color: #fff;
            }
        }
    }
}
.autosave{
    position: absolute;
    top: 3em;
    right: 1em;
    color: #fff;
    background-color: $purple-darker;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.35em;
    border-radius: 50%;
    opacity: 0.5;
    animation: autosave 1s ease-in-out;
}


@keyframes loadingAnim {
    0%{
        transform: scale(0.9);
    }
    50%{
        transform: scale(1.1);
    }
    100%{   
        transform: scale(0.9);
    }
}
@-moz-keyframes loadingAnim {
    0%{
        transform: scale(0.9);
    }
    50%{
        transform: scale(1.1);
    }
    100%{   
        transform: scale(0.9);
    }
}

@keyframes autosave {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.8;
    }
    100%{   
        opacity: 0;
    }
}
@-moz-keyframes autosave {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.8;
    }
    100%{   
        opacity: 0;
    }
}
