$main-light: rgb(146, 120, 255);
$main-dark: rgb(124, 93, 249);
$main-darker: rgb(109, 63, 216);
$text-main-light: rgb(120, 126, 168);
$bg-main-light: rgb(31, 33, 58);
$bg-main-dark: rgb(20, 22, 37);
$bg-main-darker: rgb(8, 10, 26);
$orange-light: #df9300;
$orange-dark: #c77b00;