$purple-light: rgb(146, 120, 255);
$purple-dark: rgb(124, 93, 249);
$purple-darker: rgb(109, 63, 216);
$text-purple-light: rgb(120, 126, 168);
$text-purple-light2: rgb(119, 103, 212);
$bg-purple-light: rgb(31, 33, 58);
$bg-purple-dark: rgb(20, 22, 37);
$bg-purple-lighter: rgb(34, 41, 71);
$bg-purple-darker: rgb(8, 10, 26);
$orange-light: #df9300;
$orange-dark: #c77b00;
