<div
#anchorRef
class="anchor component"
[style.left.px]="LogicCache.options.X"
[style.top.px]="LogicCache.options.Y"
>
    <template #conn></template>
    <div class="img-container" (mousedown)="handleMousedown( $event )"
    (click)="handleClick()">
        <img src="./assets/cache.svg">
    </div>  
</div>
<div style="display:none">
    <div #options>
        <div class="options-type-container">
            <span class="property-name">Write Policy: <info-tooltip [Message]="'Changes the write policy of the cache. This changes behaviour of writes.'"></info-tooltip></span>
            <div>
                <mat-form-field appearance="fill" class="action-endpoint">
                    <mat-select (selectionChange)="afterChange()" [(ngModel)]="LogicCache.options.writePolicy">
                      <mat-option *ngFor="let type of WritePolicyKeys" [value]="type">{{WritePolicy[type]}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="options-type-container">
            <span class="property-name">Replacement Policy: <info-tooltip [Message]="'Changes the replacement policy of the cache. This does not have any effect on the visualization.'"></info-tooltip></span>
            <div>
                <mat-form-field appearance="fill" class="action-endpoint">
                    <mat-select (selectionChange)="afterChange()" [(ngModel)]="LogicCache.options.replacementPolicy">
                      <mat-option *ngFor="let type of ReplacementPolicyKeys" [value]="type">{{ReplacementPolicy[type]}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>