<input [style.left.px]="LogicCache.options.X-20"
[style.top.px]="LogicCache.options.Y-20" 
#compTitle type="text" class="component-title" [(ngModel)]="LogicCache.options.title" spellcheck="false">
<div
#anchorRef
(mousedown)="handleMousedown( $event )"
(click)="handleClick()"
class="anchor component"
[style.left.px]="LogicCache.options.X"
[style.top.px]="LogicCache.options.Y"
>
    <template #conn></template>
    <div class="img-container">
        <img src="./assets/cache.svg">
    </div>  
</div>
<div style="display:none">
    <div #options>
        <div class="options-type-container">
            <span class="property-name">Write Policy:</span>
            <div>
                <mat-form-field appearance="fill" class="action-endpoint">
                    <mat-select [(ngModel)]="LogicCache.options.writePolicy">
                      <mat-option *ngFor="let type of WritePolicyKeys" [value]="type">{{WritePolicy[type]}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="options-type-container">
            <span class="property-name">Replacement Policy:</span>
            <div>
                <mat-form-field appearance="fill" class="action-endpoint">
                    <mat-select [(ngModel)]="LogicCache.options.replacementPolicy">
                      <mat-option *ngFor="let type of ReplacementPolicyKeys" [value]="type">{{ReplacementPolicy[type]}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>